.div343{
    margin-left: 50px;
    color: aquamarine;
}




.pasta{
    text-align: center;
    margin-top: -50px;
}

.kahve{
    position: absolute;
    top: 40px;
    right: 70px;
    width: 350px;
    height: 300px;
    border-style: solid;
    border-radius: 3%;
}
